.united{
    background-image: url(../image/ap-ui.png);
    background-repeat: no-repeat; 
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: rgba(138, 136, 136, 0.89);
}
.united-1{
    
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 104, 104, 0.527);
}